---
title: 关于
---

<!DOCTYPE html>
<html class="module-default module-about">
  <head> {% include head.html %} </head>
  <body id="body" >

    <div class="page-wrapper">

      <div class="banner transparent">
        <div class="container-fluid">
          <nav class="pull-right">
            <a class="glow no-decoration" href="/tags.html">标签</a>
            <a class="glow no-decoration" href="/archive.html">归档</a>
            <a class="glow no-decoration" href="/about.html">关于</a>
          </nav>
          <a class="logo no-decoration" href="/">
            <i class="logo-h fa fa-etsy"></i>
            <span class="logo-arttle glow">aster</span>
            <span class="logo-land">Park</span>
          </a>
        </div>
      </div>

      <section class="avatar-wrapper">
        <div class="container-fluid">
          <img class="avatar" src="/assets/img/avatar-320x320.jpg" alt="avatar">
          <p class="lead">{{site.description}}</p>
        </div>
      </section>

      <div class="links">
        <div class="container-fluid">
          <div class="row">

            <div class="col-sm-4">
              <section class="interests">
                <header>归</header>
                <ul class="list-unstyled">
                  <li>雨中黄叶树</li>
                  <li>灯下白头人</li>
                </ul>
              </section>

            </div>
            <div class="col-sm-4">
              <section class="thanks">
                <header>去</header>
                <ul class="list-unstyled">
                  <li>你说，</li>
                  <li>白首如新</li>
                  <li>倾盖如故</li>
                  <li>是什么样子</li>
                </ul>
              </section>

            </div>
            <div class="col-sm-4">
              <section class="thanks">
                <header>来</header>
                <ul class="list-unstyled">
                  <li>《在云上》</li>
                  <li>《图腾·火麒麟》</li>
                  <li>在出发的瞬间就回来</li>
                  <!--<li><a href="mailto:yangjvn@126.com?subject=From%3A%20harttle.com" target="_blank">联系我</a></li>-->
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer class="page-footer">
      <div class="container-fluid">
				<!--Hosted by <a href="//github.com/harttle">Github</a>,-->
				<!--Theme by <a href="http://harttle.com">EasterPark</a>.-->
        入云深处亦沾衣
      </div>
    </footer>

    {% include footer.html %}

  </body>
</html>
